---

# gitlab stages
stages:

  # stages
  - "gitleaks"
  - "linting"
  - "build"
  - "deployment"


# include jobs
include:

  # locals
  - local: ".gitlab/build.yaml"
  - local: ".gitlab/deployment.yaml"

  # components
  - component: "$CI_SERVER_FQDN/components/gitleaks/gitleaks@v1.0.0"
  - component: "$CI_SERVER_FQDN/components/markdownlint/markdownlint@1.0.0"
  - component: "$CI_SERVER_FQDN/components/yamllint/yamllint@1.0.2"
