---

# deploy container on kubernetes
deployment:
  stage: "deployment"
  image:
    name: "quay.io/argoproj/argocd:v3.2.5"
    entrypoint: [""]
  rules:

    # run only on push to default branch
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - when: "never"

  script:

    # execute a rollout restart using argocd
    - "argocd app actions run simoncor-net restart \
       --kind Deployment \
       --resource-name simoncor-net \
       --server $ARGOCD_SERVER \
       --auth-token $ARGOCD_AUTH_TOKEN \
       --grpc-web"
